body{
    background-image: url(../images/sucesso_page/pexels-tim-samuel-5835018.jpg);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85%;
}


#sucess_msg{
    color:white;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}


#go_back{
    width: fit-content;
    background-color:#8a2be2;
    padding:15px;
    border-radius:25px;
    margin: 10px auto 10px auto;
}

#go_back:hover{
    background-color:red;
}

.go_back_text{
    text-decoration:none;
    color:white;
}