.Beggining{
    font-family:'Courier New', Courier, monospace;
    font-style: Bold;
    text-align: center;
    font-size: 32px;
    margin: -23px;  
}

#title_options{
    font-family:'Courier New', Courier, monospace;
    font-style: Bold;
    text-align: center;
    text-decoration: underline;
    margin: 50px;
}

#button_veja{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:black;
    width: 160px;
    margin: 585px;   
    box-shadow: 2px 4px 5px 4px black;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

#button_veja:hover{
    padding: 15px;
}

#button_veja:active{
    background-color: black;
}

#menu{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:black;
    width: 160px;
    margin: 585px;   
    box-shadow: 2px 4px 5px 4px black;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

#menu:hover{
    padding: 15px;
}

#menu:active{
    background-color: black;
}

body{
    background-image: url("../../public/pexels-ron-lach-10533148.jpg");

}