<html>
    <head>
        <title>Caixa Mercado</title>
        <meta http-equiv="refresh" content="320">
        <link href="../static/files/style.css" rel="stylesheet" type="text/css">
    </head>
        
    <body>
        
        <div class="Beggining">
            <h1>Cashier System</h1>
        </div>


        <div class="menu_option1">
            <a class="text_button" href="/produtos">Veja os produtos</a>
        </div>

        <div class="menu_option2">
            <a class="text_button" href="/registro">Cadastre um cliente</a>
        </div>

        <div class="menu_option3">
            <a class="text_button" href="">Registre uma compra</a>
        </div>
    
    
    </body>













</html>