<html>
    <head>
        <title>Caixa Mercado</title>
        <meta http-equiv="refresh" content="320">
        <meta name="pragma" content="no-cache">
        <link href="../static/style.css" rel="stylesheet" type="text/css">
    </head>
        
    <body>
        <div class="Beggining">
            <h1>Cashier System</h1>
        </div>

        <div>
            <h2 id="title_options">Clique em uma das opções abaixo:</h2>
        </div>

        <div id="menu">
            <a href="">Veja as opções</a></li>
            <a href="">Veja o Sistema</a> </li>
        </div>
    </body>













</html>