<html>
    <head>
        <title>Caixa Mercado</title>
        <meta http-equiv="refresh" content="320">
        <meta name="pragma" content="no-cache">
        <link href="../static/files/style.css" rel="stylesheet" type="text/css">
    </head>
        
    <body>
        <div class="Beggining">
            <h1>Cashier System</h1>
        </div>

        <div>
            <h2 id="title_options">Clique em uma das opções abaixo:</h2>
        </div>

        <div class="menu_option1">
            <a href="/produtos">Veja os produtos</a>
        </div>

        <div class="menu_option2">
            <a href="">Registre uma compra</a>
        </div>

        <div class="menu_option3">
            <a href="">Cadastre um cliente</a>
        </div>
    
    
    </body>













</html>