<html>
    <head>
        <title>Produtos</title>
        <link href="../static/files/style_produto.css" rel="stylesheet" type="text/css">
    </head>

    <body>

    <div>
        <h1 id="title">Produtos em estoque</h1>
    </div>


    <div id="produtos_list">
        <table>
            <tr>
                <th class="a">Produto</th>
                <th class="a">Preço</th>
                <th class="a">Quantidade</th>
                <th class="a">ID</th>
            </tr>
            {% for item in products %}
                <tr>
                    <td class="a">{{ item[0] }}</td> 
                    <td class="a">{{ item[1] }}</td> 
                    <td class="a">{{ item[2] }}</td> 
                    <td class="a">{{ item[3] }}</td>
                    <td class="a">{{ item[4] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="back_menu">
        <a href="/">Voltar para o Menu</a>
    </div>



    </body>

</html>